@media (min-width: 720px){
  div .container {
      width: 720px;
  }
}

label{
  font-weight: 600;
}

.container{
  margin-top: 50px;
}

.body-container input{
  width: 320px;
}

.header{
  color: #ffffff;
  background-color: #000000;
  padding: 1em;
}

.container .row{
  margin-right: 0px;
  margin-left: 0px;
}

.btn{
  margin: 15px 0 ;
}

.body-container{
  display: flex;
  justify-content: space-between;
}

.output-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.card-header{
  width: -webkit-fill-available;
}

div .card-footer{
  background-color: #ffffff;
}

.card-text{
  margin-right: 5px;
  margin-bottom: 0;
}